### Lambda
**Definition** : A lambda is a mini function with no name.
#### Synatx 
lambda arguments: expression

In [4]:
def square(x):
    return x**2

print(square(5))

25

In [5]:
squ=lambda x: x**2
print(squ(5))

25

In [3]:
(lambda x: x**3)(5)

125

In [ ]:
# If-else function
(lambda x: "Even" if x%2==0 else "Odd")(25)

'Odd'

In [23]:
# Sort
names=["Tom", "Alice", "Bob"]
print(sorted(names, key=len))

sorted_names=sorted(names, key=lambda name:len(name))

print(sorted_names)

['Tom', 'Bob', 'Alice']
['Tom', 'Bob', 'Alice']

In [8]:
print(sorted(names, key=lambda name:len(name), reverse=True))

['Alice', 'Tom', 'Bob']

In [9]:
# Sort by last letter
print(sorted(names, key=lambda name: name[-1]))

['Bob', 'Alice', 'Tom']

In [13]:
# Sort by key
students=[
    {"Name": "Alice", "marks":90}, 
    {"Name": "Bob", "marks":85},
    {"Name": "Charlie", "marks":95}
]

sorted_students=sorted(students, key=lambda x: x["marks"], reverse=True)
print(sorted_students)

[{'Name': 'Charlie', 'marks': 95}, {'Name': 'Alice', 'marks': 90}, {'Name': 'Bob', 'marks': 85}]

In [16]:
people=[("Alice", 25), ("Bob", 30), ("Charlie",20)]
print(sorted(people, key=lambda x: x[1], reverse=True))

[('Bob', 30), ('Alice', 25), ('Charlie', 20)]

In [17]:
# Custom sort
words = ["apple", "banana", "grape"]

def count_vowels(word):
    return sum(1 for c in word if c in 'aeiou')

print(sorted(words, key=count_vowels))

['apple', 'grape', 'banana']

In [21]:
# Count of things
print(sum(1 for i in [1,2,3,4]))

for word in ["apple", "banana", "cherry"]:
    c=0
    for letter in word:
        if letter in 'aeiou':
            c+=1
    print("Vowels in", word, " is ", c )

4
Vowels in apple  is  2
Vowels in banana  is  3
Vowels in cherry  is  1

### Map
It applies a given function to each item of an iterable (like a list, tuple, or string) and returns an iterator that yields the results.

**Note:**
To get the results as a list, tuple, or another sequence, the map object needs to be explicitly converted. 

#### Syntax
map(function, iterable, ...)

In [ ]:
num=[1,2,3,4,5]
print(map(square, num))  # 'square' is a function that is defined earlier

print(list(map(square, num)))

<map object at 0x0000026983210610>
[1, 4, 9, 16, 25]

In [26]:
# map with lambda
print(list(map(lambda x: x**3, num)))

[1, 8, 27, 64, 125]

In [29]:
word="Hello"
print(list(map(str.upper, word)))

words=["Hello", "Good morning", "Apple"]
print(list(map(str.lower, words)))

['H', 'E', 'L', 'L', 'O']
['hello', 'good morning', 'apple']

In [ ]:
# Multiple iterables
first_names = ["John", "Jane", "Sam", "Alice"]
last_names = ["Smith", "Doe", "Wilson"]

full_names = list(map(lambda f, l: f + " " + l, first_names, last_names))
print(full_names) # It ignores 'Alice' as there is no 4th item in the 2nd list

['John Smith', 'Jane Doe', 'Sam Wilson']

In [31]:
a=[10, 20, 30]
b=[20, 30, 10]

print(list(map(lambda x, y: x+y, a, b)))

[30, 50, 40]

### Filter
**Definition:** It keeps only the items that match the rule.

#### Syntax
filter(function, iterable)

In [34]:
num=[1,2,3,4,5]
print(list(filter(lambda x: x%2==0, num)))

[2, 4]

In [ ]:
# Remove None
values = [0, 1, "", "hello", [], [1, 2], None, True]

print(list(filter(None, values)))

[1, 'hello', [1, 2], True]

In [36]:
# Remove empty strings
words=["apple", "", "banana", "", "", "cherry"]
print(list(filter(lambda x: x!="", words)))

['apple', 'banana', 'cherry']

In [38]:
# List of ditcs
people = [
    {"name": "Alice", "age": 17},
    {"name": "Bob", "age": 20},
    {"name": "Charlie", "age": 16}
]

adults=list(filter(lambda x: x["age"]>18, people))
print(adults)

[{'name': 'Bob', 'age': 20}]

In [45]:
# Filter with map
updated_age=list(map(lambda x: {"name": x["name"], "age" :x["age"]+10}, people))
print(updated_age)

list(map(lambda x: x["age"]+10, filter(lambda x: x["age"]%2==0,people)))

[{'name': 'Alice', 'age': 27}, {'name': 'Bob', 'age': 30}, {'name': 'Charlie', 'age': 26}]

[30, 26]

### Reduce
**Defintion:** It is used to reduce a list to a single value by applying a function again and again.

It's just like

Take the first two items, combine them. Then take that result and combine with the next. Keep going until only one value is left.

In [46]:
from functools import reduce

In [ ]:
# Add every element in the list
num=[1,2,3,4,5]
print(reduce(lambda x, y: x+y, num))

15

In [ ]:
# Find the max value
reduce(lambda x, y: x if x > y else y, num)

5