In [3]:
# Nested Function calls
round(abs(float(input("Enter a whole positive integer: "))))

Enter a whole positive integer: -3.14516

3

### sort

In [9]:
# with list
s=['Sachin', 'David', 'Rohit', 'Dhoni']
s.sort()

for i in s:
    print(i, end=", ")

David, Dhoni, Rohit, Sachin,

In [11]:
s=['Sachin', 'David', 'Rohit', 'Dhoni']
s.sort(reverse=True)

for i in s:
    print(i, end=", ")

Sachin, Rohit, Dhoni, David,

In [10]:
# working with other iterables
s=('Sachin', 'David', 'Rohit', 'Dhoni')
# s.sort() -> AttributeError: 'tuple' object has no attribute 'sort'

sorted_s=sorted(s)
for i in sorted_s:
    print(i, end= ", ")

David, Dhoni, Rohit, Sachin,

In [17]:
# list of tuples
## Here we have s_name, grade and thier age
s=[  ( 'Durga', 'A', 24),
   ('Sri','A', 23),
   ('Venu', 'B', 22),
   ('Balaji', 'C', 21),
   ('Mahesh', 'A', 25)   ]

# sort by 1st column
s.sort()

for i in s:
    print(i)

('Balaji', 'C', 21)
('Durga', 'A', 24)
('Mahesh', 'A', 25)
('Sri', 'A', 23)
('Venu', 'B', 22)

In [18]:
# sort by 'Grade'
s.sort(key= lambda x: (x[1], x[2]))

for i in s:
    print(i)

('Sri', 'A', 23)
('Durga', 'A', 24)
('Mahesh', 'A', 25)
('Venu', 'B', 22)
('Balaji', 'C', 21)

In [16]:
# sort by 'Age'
age= lambda x: x[2]
s.sort(key= age, reverse=True)

for i in s:
    print(i)

('Mahesh', 'A', 25)
('Durga', 'A', 24)
('Sri', 'A', 23)
('Venu', 'B', 22)
('Balaji', 'C', 21)

In [21]:
# tuple of tuples
s=( ( 'Durga', 'A', 24),
   ('Sri','A', 23),
   ('Venu', 'B', 22),
   ('Balaji', 'C', 21),
   ('Mahesh', 'A', 25), ('Rakesh', 'B',23), ('Dominic', 'C', 22)  )

age= lambda a:(a[1], a[2])
sorted_s=sorted(s, key=age, reverse=True)

for i in s:
    print(i, end=" ")
    
print()
for i in sorted_s:
    print(i, end=" ")

('Durga', 'A', 24) ('Sri', 'A', 23) ('Venu', 'B', 22) ('Balaji', 'C', 21) ('Mahesh', 'A', 25) ('Rakesh', 'B', 23) ('Dominic', 'C', 22)
('Dominic', 'C', 22) ('Balaji', 'C', 21) ('Rakesh', 'B', 23) ('Venu', 'B', 22) ('Mahesh', 'A', 25) ('Durga', 'A', 24) ('Sri', 'A', 23)

In [23]:
age_grade_sort=lambda a:(-ord(a[1]), a[2])
sorted_by_age_gra=sorted(s, key=age_grade_sort)

for i in sorted_by_age_gra:
    print(i, end=" ")

('Balaji', 'C', 21) ('Dominic', 'C', 22) ('Venu', 'B', 22) ('Rakesh', 'B', 23) ('Sri', 'A', 23) ('Durga', 'A', 24) ('Mahesh', 'A', 25)

In [26]:
# lambda to sort by grade (reversed) and then by age
age_grade_sort = lambda a: (-ord(a[1]), a[2])

# Sort the tuple of tuples
sorted_s = sorted(s, key=age_grade_sort)

# Print the original list 's'
print("Original tuple of tuples:")
for i in s:
    print(i, end=" ")

print("\n")  # Print a newline for clarity

# Print the sorted list 'sorted_s'
print("Sorted tuple of tuples (higher grade and younger age):")
for i in sorted_s:
    print(i, end=" ")

Original tuple of tuples:
('Durga', 'A', 24) ('Sri', 'A', 23) ('Venu', 'B', 22) ('Balaji', 'C', 21) ('Mahesh', 'A', 25) ('Rakesh', 'B', 23) ('Dominic', 'C', 22)

Sorted tuple of tuples (higher grade and younger age):
('Balaji', 'C', 21) ('Dominic', 'C', 22) ('Venu', 'B', 22) ('Rakesh', 'B', 23) ('Sri', 'A', 23) ('Durga', 'A', 24) ('Mahesh', 'A', 25)

#### Normal query

In [1]:
#sum of squares
n=int(input("Enter upto how many numbers you want:"))
s=0
for i in range(1,n+1):
    s+=i**2
print(f'sum of squares upto {n} are {s}')

Enter upto how many numbers you want:10
sum of squares upto 10 are 385

## Lambda

 ***lambda argument(s) : expression***
 
 similar to user-defined functions but without a name(anonymous function). 
 
**anonymous function does not have a return keyword.**

In [1]:
# bound variable: argument to a lambda function
lambda x: x

In [7]:
# Free variable: a constant or a variable defined in the enclosing scope
a = 2
print(lambda a: a + 1) # Here 1 is a free variable and this isn't the right way to call a lambda function.

<function <lambda> at 0x000002693A0E69E0>

In [10]:
(lambda a:a+1)(3)

4

In [3]:
n=int(input())
(lambda x:x**3)(n)  #enclose the entire statement when we want to call it.

5

125

In [4]:
a=lambda x:x**2
n=int(input("Enter no. to find square: "))
a(n)

Enter no. to find square:48

2304

In [5]:
a=lambda x:x**2
a(int(input("square of : ")))

square of number: 5

25

In [27]:
(lambda a, b: a if a>b else b)(23,40)

40

In [3]:
full_name=lambda fir, lst: f'Your full name is {fir.title()} {lst.title()}'

f_name=input()
l_name=input()
full_name(f_name, l_name)

durga
prasad

'Your full name is Durga Prasad'

In [14]:
(lambda f, l, a: "I am %s %s. I am %d years old" %(f, l, a))("Durga", "Prasad", 24)

'I am Durga Prasad.I am 24 years old'

In [5]:
(lambda x, y, z: x + y + z)(1, 2, 3)   #6
(lambda x, y, z=4: x + y + z)(1, 2)    #7
(lambda x, y, z=4: x + y + z)(1, y=5)  #10
#(lambda x, y, z=4: x + y + z)(1, y=5,z=3) #9

10

In [21]:
a=['a','p','p','l','e']
(lambda a:sorted(a,reverse=True))(a), a

(['p', 'p', 'l', 'e', 'a'], ['a', 'p', 'p', 'l', 'e'])

In [6]:
b=['a','s','o','p','l']
(lambda x:x.sort(reverse=True))(b), b

(None, ['s', 'p', 'o', 'l', 'a'])

In [23]:
a=['d','u','r','g','a']
a.sort(key=lambda x:x,reverse=True)
a

['u', 'r', 'g', 'd', 'a']

In [31]:
a=['d','u','r','g','a']
sorted(a,key=lambda x:x,reverse=True)

['u', 'r', 'g', 'd', 'a']

In [28]:
a=[1,2,3,4,5]
min(a,key=lambda x:x)

1

In [24]:
(lambda *args: sum(args))(1,2,3)  #6
(lambda **kwargs: sum(kwargs.values()))(one=1, two=2, three=3)

6

higher-order function (HOF):
* takes one or more functions as arguments
* returns a function as its result.

In [10]:
high_ord_func = lambda x, func: x + func(x)

print(high_ord_func(2, lambda x: x * x))  #2*2 +2
high_ord_func(2, lambda x: x + 3)

6

7

In [9]:
(lambda x:(x % 2 and 'odd' or 'even'))(3)

'odd'

In [30]:
print((lambda x: x**(1/2) if(x > 10) else 10)(16))
(lambda x: x * 10 if x > 10 else (x * 5 if x < 5 else x))(11)

4.0

In [35]:
import pandas as pd

df = pd.DataFrame(
    {"name": ["IBRAHIM", "SEGUN", "YUSUF", "DARE", "BOLA", "SOKUNBI"],
     "score": [50, 32, 45, 45, 23, 45]
    }
)
df

      name  score
0  IBRAHIM     50
1    SEGUN     32
2    YUSUF     45
3     DARE     45
4     BOLA     23
5  SOKUNBI     45

In [37]:
df["lower_name"] = df["name"].apply(lambda x: x.lower())
df

      name  score lower_name
0  IBRAHIM     50    ibrahim
1    SEGUN     32      segun
2    YUSUF     45      yusuf
3     DARE     45       dare
4     BOLA     23       bola
5  SOKUNBI     45    sokunbi

In [1]:
a=lambda x:x+15  # adds 15 to a given number
b=lambda x,y:x*y # multiplies argument x with argument y
print(a(10))
print(b(2,3))

# one argmet multiplied with another argmnt
def mul(n):
    return lambda x:x*n
res1=mul(2)
print(f'Double the number: res1(5)')  # 2 times of 5

res2=mul(3)
print(res2(5))  # 3 times of 5

res3=mul(5)
print(res3(5))  # 5 times of 5

# sort
t=[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
print(f'Before sorting \n {t}')
t.sort(key=lambda x:x[1])
print(t)

d=[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
print(d)
sorted_d=sorted(d, key=lambda x: x['color'])
print(sorted_d)

l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list=list(filter(lambda x: x%2==0, l))
odd_list=list(filter(lambda x: x%2!=0, l))

print(even_list)

squ_list=list(map(lambda x: x**2, l))
print(squ_list)

cub_list=list(map(lambda x: x**3, l))
print(cub_list)

def fn(s):
    return lambda x: x.startswith(s)
res_str=fn('D')
print(res_str("Durga"))

import datetime as dt
now=dt.datetime.now()
print(f'Today is {now}')
day=lambda x: x.day
mnth=lambda x: x.month
print(day(now))
print(mnth(now))

25
6
Double the number: res1(5)
15
25
Before sorting
 [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]
[2, 4, 6, 8, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
True
Today is 2024-10-18 14:30:07.495898
18
10

## Filter()

***filter(function, iterable)***

specific values in an iterable

In [31]:
def even(n):
    if n%2==0:
        return True
    else:
        return False
    
e=even(5)
print(e)

False

In [39]:
l=[35, 25, 24, 89, 84, 104]
print("The list is ", l)

print("The even list is ", end=" ")
print(list(filter(even, l)))

print("The oddlist is ", end=" ")
print(list(filter(lambda x: x%2!=0, l)))

The list is  [35, 25, 24, 89, 84, 104]
The even list is  [24, 84, 104]
The oddlist is  [35, 25, 89]

In [13]:
lst = [33, 3, 22, 2, 11, 1]
sorted(filter(lambda x: x > 10, lst))  # returns the no.'s who satisfies the condition

[11, 22, 33]

In [33]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x: x % 2 == 0, list1))

[2, 4, 6, 8, 10]

## map()

map(function, iterable, [iterable1, iterable2, ...])

to modify every value in an iterable.

In [29]:
l=[1,2,3,4,5]
l_one=lambda a:a+1
list(map(l_one, l))

[2, 3, 4, 5, 6]

In [6]:
num=[1,2,3,4,5]
list(map(lambda x:x**2,num))

[1, 4, 9, 16, 25]

In [7]:
def even_or_odd(n):
    if n%2==0:
        return f'The number {n} is even.'
    else:
        return f'The number {n} is odd.'
        
print(even_or_odd(8))
print(even_or_odd(101))

The number 8 is even.
The number 101 is odd.

In [8]:
# what if we want to check the numbers in a list, we can use loop but it takes a lot of time
l=[24, 25, 64, 80, 101, 125, 164, 253]

list(map(even_or_odd, l))

['The number 24 is even.',
 'The number 25 is odd.',
 'The number 64 is even.',
 'The number 80 is even.',
 'The number 101 is odd.',
 'The number 125 is odd.',
 'The number 164 is even.',
 'The number 253 is odd.']

In [2]:
org_list = [1, 2, 3, 4, 5]

# define a function that returns the cube of `num`
def cube(num):
    return num**3

print(cube(3))

#For a list of numbers
fin_list = list(map(cube, org_list))
print(fin_list) # [1, 8, 27, 64, 125]

27
[1, 8, 27, 64, 125]

In [5]:
l1=[1,2,3]
l2=[4,5,6]

def cube(l):
    return [i**3 for i in l]
    
list(map(cube, [l1,l2]))

[[1, 8, 27], [64, 125, 216]]

In [3]:
str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]

int_nums = list(map(int, str_nums))
int_nums,str_nums

([4, 8, 6, 5, 3, 2, 8, 9, 2, 5],
 ['4', '8', '6', '5', '3', '2', '8', '9', '2', '5'])

In [4]:
words=['welcome','hi','world','to']
list(map(len,words))

[7, 2, 5, 2]

In [9]:
string_it = ["processing", "strings", "with", "map"]
print(list(map(str.capitalize, string_it)))

print(list(map(str.upper, string_it)))

print(list(map(str.lower, string_it)))

['Processing', 'Strings', 'With', 'Map']
['PROCESSING', 'STRINGS', 'WITH', 'MAP']
['processing', 'strings', 'with', 'map']

In [1]:
with_dots = ["processing..", "...strings", "with....", "..map.."]

list(map(lambda s: s.strip("."), with_dots))

['processing', 'strings', 'with', 'map']

In [34]:
#Processing Multiple Input Iterables
first_it = [1, 2, 3]
second_it = [4, 5, 6, 7]

print(list(map(pow, first_it, second_it)))  #1**4,2**5,3**6
#pow() takes two arguments

list(map(lambda x: pow(x, 2),second_it))

[1, 32, 729]

[16, 25, 36, 49]

### map() with filter()

In [3]:
#map vs filter
num=[1,2,3,4,5]

print(list(filter(lambda x:x%2==0,num)))
list(map(lambda x:x%2==0,num))

[2, 4]

[False, True, False, True, False]

In [15]:
import math
num_list=[1,-2,3,4,-5]
list(map(math.sqrt,num_list))

ValueError: math domain error

In [20]:
#filtering all negative values
def is_positive(n):
    return n>=0

list(map(lambda x: round(math.sqrt(x), 2), filter(is_positive,num_list)))

[1.0, 1.73, 2.0]

In [21]:
list(map(lambda x: round(math.sqrt(x), 2), filter(lambda x: x>0, num_list)))

[1.0, 1.73, 2.0]

## reduce()

***reduce(function, iterable)***

breaking a structure down into a single value.

The reduce method can do what map/filter do

In [22]:
from functools import reduce 

nums = [1, 2, 3, 4]
reduce(lambda x, y: x + y, nums)

10

In [3]:
def product(x,y):
    return x*y

reduce(product, [2, 5, 3, 7])

210

In [23]:
reduce(lambda x,y: x*y, [1,2,3])

6

## join()

**Syntax** ->***stringSeperator.join(iterable)***

create a new string from a list of string

In [3]:
s1="Hello"
s2="World"
sep='-'
sep.join(s1+s2)

'H-e-l-l-o-W-o-r-l-d'

In [6]:
l=['L','I','S','T']
s={'S','E','T'}
t=('T','U','P','L','E')
sep='-'
print(" ".join(l))
print(sep.join(s))
print("".join(t))

L I S T
T-E-S
TUPLE

In [7]:
#join() with dictionaries
newDict = {'A': 1, "B": 2}
sep = '->'
print(sep.join(newDict))

#Note: If key is not string we get Error

A->B

## List Comprehension
It offers a shorter syntax to create a new list based on the values of an existing list.

### Syntax 
[expression for item in iterable if condition == True]

In [4]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [5]:
[x for x in range(10)],[x for x in range(10) if x<5]

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4])

In [6]:
[x if x != "banana" else "orange" for x in fruits]

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [8]:
quote = "life, uh, finds a way"
{i for i in quote if i in 'aeiou'}  # unique_vowels

{'a', 'e', 'i', 'u'}

In [9]:
{i: i * i for i in range(10)}  #squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [12]:
matrix=[[i for i in range(5)] for _ in range(3)] 
matrix

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [15]:
for row in matrix:
    for num in row:
        print(num,end=" ")

0 1 2 3 4 0 1 2 3 4 0 1 2 3 4

In [13]:
[num for row in matrix for num in row]

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]