## Lists

* Lists are used to store multiple items in a single variable.
* List items are ordered, changeable(mutable), and allow duplicate values.
* List can contain different kinds of elements

### Creating Lists

In [2]:
# Using list constructor
my_list1 = list((1, 2, 3))
print(my_list1)            # Output [1, 2, 3]

# Using square brackets[]
my_list2 = list([1, 2, 3])
print(my_list2)            # Output [1, 2, 3]

# with heterogeneous items
my_list3 = [1.0, 'Jessa', 3]
print(my_list3)            # Output [1.0, 'Jessa', 3]

# empty list using list()
my_list4 = list()
print(my_list4)            # Output []

# empty list using []
my_list5 = []
print(my_list4)            # Output []

[1, 2, 3]
[1, 2, 3]
[1.0, 'Jessa', 3]
[]
[]

In [3]:
colors = ['red', 'blue', 'green','red']
print(colors)       # ['red', 'blue', 'green', 'red']
print(colors[0])    # red
print(colors[2])    # green

#updating element 
colors[3]='yellow'
print(colors)       # ['red', 'blue', 'green', 'yellow']
print(len(colors))  # 4

['red', 'blue', 'green', 'red']
red
green
['red', 'blue', 'green', 'yellow']
4

In [32]:
#For and In
squares = [1, 4, 9, 16]
sum = 0
for num in squares:
    sum += num
print(sum)  # 30

#If and In
list = ['larry', 'curly', 'moe']
if 'curly' in list:
    print('yes')

#While and In
s=['a','p','p','l','e']
while 'p' in s:
    print("Eat Apple")
    s.remove('p')

30
yes
Eat Apple
Eat Apple

In [5]:
# List from string
s=input()
list(s), list(s.split( ))

Durga Pra

(['D', 'u', 'r', 'g', 'a', ' ', 'P', 'r', 'a'], ['Durga', 'Pra'])

### Access List Elements

In [1]:
languages = ["Python", "Swift", "C++"]

# access item at index 0
print(languages[0])   # Python

# access item at index 2
print(languages[2])   # C++

Python
C++

In [2]:
languages = ["Python", "Swift", "C++"]

# access item at index 0
print(languages[-1])   # C++

# access item at index 2
print(languages[-3])   # Python

C++
Python

### Slicing of a List

In [3]:
my_list=['D','U','R','G','A',' ','P','R','A','S','A','D']
print(my_list[:5])
print(my_list[:-5])
print(my_list[1:5])
print(my_list[-7:-5])
print(my_list[4:-5])

['D', 'U', 'R', 'G', 'A']
['D', 'U', 'R', 'G', 'A', ' ', 'P']
['U', 'R', 'G', 'A']
[' ', 'P']
['A', ' ', 'P']

In [16]:
print(my_list[1:10:2])
print(my_list[::2]) #with skip count 2

['U', 'G', ' ', 'R', 'S']
['D', 'R', 'A', 'P', 'A', 'A']

### Iterating a List

In [4]:
myList=[1,2,'DP',2.0]
for i in myList:
    print(i,end=" ")

1 2 DP 2.0

In [8]:
#iterating along with index
for i in range(len(myList)):
    print(i,":",myList[i],end="; ")

0 : 1; 1 : 2; 2 : DP; 3 : 2.0;

### List Operations

In [9]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [2]:
fruits.count('tangerine')

0

In [10]:
fruits.index('apple')

1

In [3]:
fruits.index('banana')

3

In [4]:
fruits.index('Banana')

ValueError: 'Banana' is not in list

In [7]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [8]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [10]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [2]:
sorted(fruits)

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

In [3]:
sorted(fruits,reverse=True)

['pear', 'orange', 'kiwi', 'banana', 'banana', 'apple', 'apple']

In [12]:
fruits.pop()

'pear'

### Adding elements

In [1]:
#Append an item  ->adding an item at the end
my_list = list([5, 8, 'Tom', 7.50])

# Using append()
my_list.append('Emma')
print(my_list)            # Output [5, 8, 'Tom', 7.5, 'Emma']

# append the nested list at the end
my_list.append([25, 50, 75])
print(my_list)            # Output [5, 8, 'Tom', 7.5, 'Emma', [25, 50, 75]]

[5, 8, 'Tom', 7.5, 'Emma']
[5, 8, 'Tom', 7.5, 'Emma', [25, 50, 75]]

In [2]:
#Adding at the specified position 
my_list.insert(2,25)
my_list.insert(3,[10,20,30])
my_list

[5, 8, 25, [10, 20, 30], 'Tom', 7.5, 'Emma', [25, 50, 75]]

In [29]:
my_list.extend([25, 75, 100])
print(my_list)               # Output [5, 8, 'Tom', 7.5, 25, 75, 100]

[5, 8, 25, [10, 20, 30], 25, [10, 20, 30], 'Tom', 7.5, 'Emma', [25, 50, 75], 25, 75, 100]

In [30]:
#append vs extend
list_one = [2, 3, 4]
list_two = [2, 3, 4]
x = [5, 6]

list_one.append(x)
list_two.extend(x)

print(list_one)
print(list_two)

[2, 3, 4, [5, 6]]
[2, 3, 4, 5, 6]

In [8]:
# append vs clone
  # append() has a side effect
    
fruits=['apple','mango','banana']
diet=fruits
diet.append('orange')

print('append')
print(diet)
print(fruits)

print( )
print('cloning')
fruits1=['apple','mango','banana']
fav=fruits1[:] # cloning a list/ copy every element
fav.append('orange')
print(fav)
print(fruits1)

append
['apple', 'mango', 'banana', 'orange']
['apple', 'mango', 'banana', 'orange']

cloning
['apple', 'mango', 'banana', 'orange']
['apple', 'mango', 'banana']

### Removing elements

In [11]:
my_list = list([2, 4, 6, 8, 10, 12,6])

my_list.remove(6)
my_list.remove(8)

print(my_list)      # Output [2, 4, 10, 12]

[2, 4, 10, 12, 6]

In [4]:
a=[1,2,3,3,4,5,6,2]
a.remove(2)
a

[1, 3, 3, 4, 5, 6, 2]

In [1]:
numbers = [1, 2, 3, 4, 2, 5, 2]
target_number = 2

while target_number in numbers:
    numbers.remove(target_number)
print("Updated List:", numbers)

Updated List: [1, 3, 4, 5]

In [26]:
l=[1, 2, 3, 4, 2, 5, 2]
target=2
for i in l:
    if i==target:
        l.remove(i)
print("Updated List:",l)

Updated List: [1, 3, 4, 5]

In [40]:
#remove item at given index
my_list = list([2, 4, 6, 8, 10, 12])

# remove item present at index 2
my_list.pop(2)
print(my_list)        # Output [2, 4, 8, 10, 12]

[2, 4, 8, 10, 12]

In [41]:
#remove range of items
del my_list[2:5]
print(my_list)

[2, 4]

In [43]:
#remove all items
my_list.clear()
my_list

[]

In [45]:
#deleting entire list
del my_list
my_list

NameError: name 'my_list' is not defined

In [26]:
# removing duplicates
'''
    the output will be [2, 3, 4] rather than removing only elements 1 and 2 (which are in both lists, L1 and L2). 
    The reason is that when 1 is removed, the list shifts, and the loop doesn't properly check all elements. 
    This leads to the skipping of 2 in the removal process.
'''

def remove_dups(L1, L2):
    for e in L1:
        if e in L2:
            L1.remove(e)
    return L1
            
L1 = [1, 2, 3, 4]
L2 = [1, 2, 5, 6]
remove_dups(L1, L2) # L1 is [2,3,4] not [3,4]

[2, 3, 4]

In [24]:
'''
    To avoid this issue, it's better to create a new list containing the elements that are common between L1 and L2, 
    or create a new list without the duplicates.
'''

def remove_dups(L1, L2):
    return [x for x in L1 if x not in L2]

L1 = [1, 2, 3, 4]
L2 = [1, 2, 5, 6]
result = remove_dups(L1, L2)
print(result)

[3, 4]

In [25]:
def rem_dup2(l1,l2):
    l1_copy=l1[:]
    for e in l1_copy:
        if e in l2:
            l1.remove(e)
    return l1,l2,l1_copy

l1=[1,2,3,4]
l2=[1,2,5,6]

rem_dup2(l1,l2)

([2, 3, 4], [1, 2, 5, 6])

([3, 4], [1, 2, 5, 6], [2, 3, 4])

### Finding an element

In [70]:
my_list = list([2, 4, 6, 8, 10, 12,10])

print(my_list.index(10))        # Output 4

a=[1,2,3,3,4,5,6,7,3]
print(a.index(3,3,9))

# alphabets list
alphabets = ['a', 'e', 'i', 'o', 'g', 'l', 'i', 'u']

print('The index of e:',alphabets.index('e'))
print('The index of i:',alphabets.index('i',4))  # i after 4
print('The index of i:',alphabets.index('i',3,7)) #i between 3 and 7

4
3
The index of e: 1
The index of i: 6
The index of i: 6

### Concatenation of two lists

In [14]:
[1]+[2],[]+[1],[[0]+[2]]

([1, 2], [1], [[0, 2]])

In [2]:
my_list1 = [1, 2, 3]
my_list2 = [4, 5, 6]

# Using + operator
my_list3 = my_list1 + my_list2
print(my_list3)               # Output [1, 2, 3, 4, 5, 6]

# Using extend() method
my_list1.extend(my_list2)
print(my_list1)               # Output [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [4]:
mylist = [3, 4, 5, 6, 1]
print(max(mylist)) 
print(min(mylist)) 
print(sum(mylist))

6
1
19

### any() and all()

In [59]:
# truth value of None is False
print(bool(None))    # Output False

# truth value of an empty string ("") is False
print(bool(""))      # Output False

# truth value of an empty list (or any iterable) is False
print(bool([]))      # Output False

# truth value of 0 {int (0), float (0.0) and complex (0j)} is False
print(bool(0))       # Output False

False
False
False
False

Syntax: any(iterable)

* Returns True if bool(x) is True for any x in the iterable.
* Returns False if the iterable is empty.

In [58]:
list_1 = [False, False, False]
print(any(list_1))

list_2 = [0j,0,0,0.0,0,0,0.0,0]
print(any(list_2))

list_3 = [True, False, False]
print(any(list_3))

a=[1,0,0,0,0]
print(any(a))

b=[0,0,0,0]
print(any(b))

c=[" ",' ','s',"' '"]
print(any(c))

d=["",'',""]
print(any(d))

e=[" ",'',""]
print(any(e))

False
False
True
True
False
True
False
True

Syntax: all(iterable)

* Returns True if bool(x) is True for all values x in the iterable.
* Returns True if the iterable is empty.

### List Comprehension

In [60]:
inputList = [4,7,11,13,18,20]
squareList = [var**2 for var in inputList if var%2==0]
print(squareList)

[16, 324, 400]

In [5]:
#creating even square list for a range of numbers
squarelist1 = [s**2 for s in range(1,11) if s%2 == 0]
print(squarelist1)

[4, 16, 36, 64, 100]

In [6]:
[i for i in range(10) if i>4]

[5, 6, 7, 8, 9]

In [2]:
[f'column_{i}' for i in range(3)]

['column_0', 'column_1', 'column_2']

#### enumerate

In [18]:
tasks=['Eat', 'Sleep', 'Repeat']
list(enumerate(tasks))

[(0, 'Eat'), (1, 'Sleep'), (2, 'Repeat')]

In [12]:
dict(list(enumerate(tasks)))

{0: 'Eat', 1: 'Sleep', 2: 'Repeat'}

In [14]:
e=enumerate(tasks, 10)
list(e)

[(10, 'Eat'), (11, 'Sleep'), (12, 'Repeat')]

In [16]:
e=enumerate(tasks)
dict(list(e))

{0: 'Eat', 1: 'Sleep', 2: 'Repeat'}

In [6]:
grocery=['Bread', 'Milk', 'Eggs']

for item in enumerate(grocery):
    print(item)

(0, 'Bread')
(1, 'Milk')
(2, 'Eggs')

In [7]:
for value, item in enumerate(grocery, 10):
    print(value, item)

10 Bread
11 Milk
12 Eggs

## Tuple

* ordered 
* Unchangeable /immutable 
* heterogeneous 
* contains duplicate

### Creating tuple

In [10]:
#usisng ()
no_tuple=(10,20,30,10)
print(no_tuple)

#using tuple()
het_tuple=tuple(('Jessie',30,30.25,[23,45,75]))
print(het_tuple)

#with single element
sin_tuple=(10,)
print(sin_tuple)

#with empty ()
type(())

(10, 20, 30, 10)
('Jessie', 30, 30.25, [23, 45, 75])
(10,)

tuple

### Packing and Unpacking

In [11]:
#packing -> creating tuple without using a tuple() constructor or enclosing the items inside the parentheses.
tupl1=1,2,"Hi"
print(tupl1);print(type(tupl1))

#unpacking tuple into variables
i,j,k=tupl1
print(i,j,k)

(1, 2, 'Hi')
<class 'tuple'>
1 2 Hi

In [4]:
#slicing Tuple
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
tuple1[2],tuple1[-4],tuple1[1:5]

('T', 'T', ('Y', 'T', 'H', 'O'))

### Finding an item

In [5]:
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80)

print(50 in tuple1)

# get index of item 30
index= tuple1.index(30)
print(f'index of 30 is {index}')  # Output 2

position1 = tuple1.index(60, 4, 6)  #get index of item 60 from location 4 to 6
print(f'index of 60 is {position1}')  

position2 = tuple1.index(10, 0, 3)  #get index of item 10 from location 0 to 3
print(f'index of 10 is {position2}') 

position3 = tuple1.index(10, 4, 6)  #get index of item 10 from location 4 to 6
print(f'index of 10 is {position3}')

True
index of 30 is 2
index of 60 is 5
index of 10 is 0

ValueError: tuple.index(x): x not in tuple

In [10]:
str_tup=('A', 'B', 'A', 'C', 'B', 'A', 'B', 'C', 'C')
print(f'A after 2nd index is at {str_tup.index("A", 2)}')
print(f'A after 5th index is at {str_tup.index("A", 5)}')
print(f'B after 5th index is at {str_tup.index("B", 5)}')
print(f'C after 5th index is at {str_tup.index("C", 5)}')

A after 3rd index is at 2
A after 5th index is at 5
B after 5th index is at 6
C after 5th index is at 7

### Count the occurrence

In [9]:
tuple1 = (10, 20, 60, 30, 60, 40, 60)
count = tuple1.count(60)
print(count)# Output 3

tuple1.count(600)

3

0

### Adding and Changing items

In [12]:
tuple1 = (0, 1, 2, 3, 4, 5)
tuple1[1] = 10    # Output TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [13]:
sample_list =list(tuple1)  # converting tuple into a list
sample_list.append(6)       # add item to list

tuple1 = tuple(sample_list) # converting list back into a tuple
print(tuple1)               # Output (0, 1, 2, 3, 4, 5, 6)

(0, 1, 2, 3, 4, 5, 6)

In [11]:
#If one of the items is itself a mutable data type as a list, then we can change its values in the case of a nested tuple
tuple2=(1,2,[3,4,5])
tuple2[2][0]=5
tuple2

(1, 2, [5, 4, 5])

### Removing items

In [13]:
tuple2.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [19]:
del tuple2  #deleting entire tuple
tuple2

NameError: name 'tuple2' is not defined

In [20]:
tuple1.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [21]:
sample_list = list(tuple1)  # converting tuple into a list
sample_list.remove(2)       # reomve 2nd item

tuple1 = tuple(sample_list)
print(tuple1)               # Output (0, 1, 3, 4, 5, 6)

(0, 1, 3, 4, 5, 6)

### Copying a tuple

In [15]:
tuple1 = (0, 1, 2, 3, 4, 5)

# copy tuple
tuple2 = tuple1
print(tuple2)            # Output (0, 1, 2, 3, 4, 5)

# changing tuple2
# converting it into a list
sample_list = list(tuple2)
sample_list.append(6)

# converting list back into a tuple2
tuple2 = tuple(sample_list)

# printing the two tuples
print(tuple1)           # Output (0, 1, 2, 3, 4, 5)
print(tuple2)           # Output (0, 1, 2, 3, 4, 5, 6)

(0, 1, 2, 3, 4, 5)
(0, 1, 2, 3, 4, 5)
(0, 1, 2, 3, 4, 5, 6)

### Concatenating two Tuples

In [23]:
#using '+'
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)

tuple3 = tuple1 + tuple2
print(tuple3)           # Output (1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

In [24]:
#using sum() ->the sum function takes an Empty tuple as an argument and it returns the items from both the tuples.
tuple4 = sum((tuple1, tuple2), ())
print(tuple4)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

### min() and max()

In [16]:
tuple1 = ('xyz', 'zara', 'abc')
print(max(tuple1))  # Output zara

print(min(tuple1))  # Output abc

tuple2 = (11, 22, 10, 4)
print(max(tuple2))  # Output 22
print(min(tuple2))  # Output 4
print(sum(tuple2))  # Output 47

zara
abc
22
4
47

### Chain

In [10]:
import itertools

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)

# using itertools
tuple3 = tuple(item for item in itertools.chain(tuple1, tuple2))
print(tuple3)   # Output (1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

In [11]:
## Nested tuples
nested_tuple = ((20, 40, 60), (10, 30, 50), "Python")

# access the first item of the third tuple
print(nested_tuple[2][0])  # P

# iterate a nested tuple
for i in nested_tuple:
    print("tuple", i, "elements")
    for j in i:
        print(j, end=", ")
    print("\n")

P
tuple (20, 40, 60) elements
20, 40, 60,

tuple (10, 30, 50) elements
10, 30, 50,

tuple Python elements
P, y, t, h, o, n,

## Dictionary

* Unordered ->In Python 3.6 and lower version
* Ordered   ->After Python 3.7 
* Unique ->the Keys in Dictionaries should be unique
* Mutable ->we can add or remove items after the creation.

In [1]:
#create a dictionary using {}
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners'
}
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

In [2]:
#creating dictionary using dict()
MLB_team = dict([
    ('Colorado', 'Rockies'),
    ('Boston', 'Red Sox'),
    ('Minnesota', 'Twins'),
    ('Milwaukee', 'Brewers'),
    ('Seattle', 'Mariners')
])
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

In [7]:
#If the key values are simple strings
MLB_team = dict(
    Colorado= 'Rockies',
    Boston='Red Sox',
    Minnesota= 'Twins',
    Milwaukee='Brewers',
    Seattle='Mariners'
)
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

In [11]:
#empty dictionary 
emptydict = {}
print(type(emptydict))  # Output class 'dict'

<class 'dict'>

In [10]:
# create a dictionary from sequence having each item as a pair
person = dict([("name", "Mark"), ("country", "USA"), ("telephone", 1178)])
print(person)          # output {'name': 'Mark', 'country': 'USA', 'telephone': 1178}

# create dictionary with mixed keys keys first key is string and second is an integer
sample_dict = {"name": "Jessa", 10: "Mobile"}
print(sample_dict)     # output {'name': 'Jessa', 10: 'Mobile'}

# create dictionary with value as a list
person = {"name": "Jessa", "telephones": [1178, 2563, 4569]}
print(person)          # output {'name': 'Jessa', 'telephones': [1178, 2563, 4569]}

{'name': 'Mark', 'country': 'USA', 'telephone': 1178}
{'name': 'Jessa', 10: 'Mobile'}
{'name': 'Jessa', 'telephones': [1178, 2563, 4569]}

In [1]:
# unique keys
d={'id':1, 'name': 'Durga', 'id':2, 'name': 'Prasad'}  
# as keys are with the same name the last occurrence will overwrite the previous one.
print(d)

{'id': 2, 'name': 'Prasad'}

### Accessing Dictionary Values

In [3]:
#If the key values are simple strings
MLB_team = dict(Colorado= 'Rockies',Boston='Red Sox',Minnesota= 'Twins',Milwaukee='Brewers',Seattle='Mariners')
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

In [8]:
MLB_team['Minnesota']

'Twins'

In [9]:
MLB_team['Toranto']

KeyError: 'Toranto'

In [7]:
# get retrieves the value associated with the specified key
MLB_team.get('Seattle')

'Mariners'

In [6]:
MLB_team.get('Toranto',0)  # If the key does not exist it will return the default value 0

0

In [6]:
MLB_team.get('Toranto', [])

[]

In [20]:
MLB_team.get('Seattle',0)

'Mariners'

In [19]:
d=MLB_team
d['Colorado']=d.get('Colorado',0)
d

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

In [5]:
#Get all keys,values,items
print(MLB_team.keys())
print(MLB_team.values())
print(MLB_team.items())  #  returns a list of tuples

dict_keys(['Colorado', 'Boston', 'Minnesota', 'Milwaukee', 'Seattle'])
dict_values(['Rockies', 'Red Sox', 'Twins', 'Brewers', 'Mariners'])
dict_items([('Colorado', 'Rockies'), ('Boston', 'Red Sox'), ('Minnesota', 'Twins'), ('Milwaukee', 'Brewers'), ('Seattle', 'Mariners')])

### Iterating a dictionary

In [25]:
for k in MLB_team:                    #k=['Colorado', 'Boston', 'Minnesota', 'Milwaukee', 'Seattle']
    print(k,':',MLB_team[k])  
    
print()
for key_value in MLB_team.items():   #key_value=[('Colorado', 'Rockies'), ('Boston', 'Red Sox'),...]; 0->colorado,1->Rockies
    print(key_value[0],key_value[1])

print()
for key,val in MLB_team.items():
    print(key,val)

Colorado : Rockies
Boston : Red Sox
Minnesota : Twins
Milwaukee : Brewers
Seattle : Mariners

Colorado Rockies
Boston Red Sox
Minnesota Twins
Milwaukee Brewers
Seattle Mariners

Colorado Rockies
Boston Red Sox
Minnesota Twins
Milwaukee Brewers
Seattle Mariners

In [3]:
for index,key in enumerate(MLB_team):
    print(index,':',key)

0 : Colorado
1 : Boston
2 : Minnesota
3 : Milwaukee
4 : Seattle

In [26]:
#length of dictionary 
len(MLB_team)

5

In [4]:
def get_key_from_value(dictionary, value_to_find):
    for key, value in dictionary.items():
        if value == value_to_find:
            return key
    return None  # Return None if the value is not found in the dictionary

MLB_team = {'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

value_to_find = 'Rockies'
key = get_key_from_value(MLB_team, value_to_find)

if key is not None:
    print("Key for value '{}' is: {}".format(value_to_find, key))
else:
    print("Value '{}' not found in the dictionary.".format(value_to_find))

Key for value 'Rockies' is: Colorado

### Adding items

In [12]:
#Using key-value assignment
person = {"name": "Jessa", 'country': "USA", "telephone": 1178}
person["weight"] = 50
person["name"]="Durga"
print(person)      # output {'name': 'Jessa', 'country': 'USA', 'telephone': 1178, 'weight': 50, 'height': 6}

{'name': 'Durga', 'country': 'USA', 'telephone': 1178, 'weight': 50}

In [13]:
#Using update()
person.update({"height": 6})
print(person)

{'name': 'Durga', 'country': 'USA', 'telephone': 1178, 'weight': 50, 'height': 6}

In [14]:
person.update({"age":23, "hobbies":["movies",'music','reading']})
print(person)

{'name': 'Durga', 'country': 'USA', 'telephone': 1178, 'weight': 50, 'height': 6, 'age': 23, 'hobbies': ['movies', 'music', 'reading']}

In [15]:
person.update([("city", "Texas"), ("company", "Google",)])
print(person)

{'name': 'Durga', 'country': 'USA', 'telephone': 1178, 'weight': 50, 'height': 6, 'age': 23, 'hobbies': ['movies', 'music', 'reading'], 'city': 'Texas', 'company': 'Google'}

### Set default value

In [16]:
person_details = {"name": "Jessa", "country": "USA", "telephone": 1178}

# set default value if key doesn't exists
person_details.setdefault('state', 'Texas')

# key doesn't exists and value not mentioned. default None
person_details.setdefault("zip")

# key exists and value mentioned. doesn't  change value
person_details.setdefault('country', 'Canada')

# Display dictionary
for key, value in person_details.items():
    print(key, ':', value)

name : Jessa
country : USA
telephone : 1178
state : Texas
zip : None

### Modify the values

In [37]:
#using key name
person['country']="India"

#using update()
person.update({"height":5.2})

person['country'],person['height']

('India', 5.2)

### Removing items

In [24]:
person = {'name': 'Jessa', 'country': 'USA', 'telephone': 1178, 'weight': 50, 'height': 6}

#pop() ->removes item with key
person.pop('telephone')

#popitem() ->removes the last inserted item
person.popitem()
person

{'name': 'Jessa', 'country': 'USA', 'weight': 50}

In [41]:
#using del
del person['weight']
person

{'name': 'Jessa', 'country': 'USA'}

In [43]:
#using clear()
person.clear()
person

{}

In [44]:
#deletting the entire dictionary 
del person
person

NameError: name 'person' is not defined

### Checking if a key exists

In [16]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print(my_dict.get('name')) 
print(my_dict.get('gender'))
print(my_dict.get('gender','not present'))

Alice
None
not present

In [1]:
person = {'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

# Get the list of keys and check if 'country' key is present
key_name = 'country'
if key_name in person.keys():
    print("country name is", person[key_name])
else:
    print("Key not found")       # Output country name is USA

country name is USA

In [32]:
# l=['a','p','p','l','e']
l=input('Enter string: ').replace('',' ').split()
d={}
for i in l:
    if i in d.keys():
        d[i]+=1
    else:
        d[i]=1
d

Enter string: apple

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [8]:
person = {'name': 'Jessa', 'country': 'USA', 'telephone': 1178}
def checkName(name):
    for v in person.values():
        if v.lower() == name.lower():
            print('The person is present')
            return
    print('The person is not present')

n = input("Enter a name: ")
checkName(n)

Enter a name: usa
The person is present

In [9]:
t = [1, 2, 3, 4, 5]
h = {}
for index, value in enumerate(t):
    h[value] = h.get(value, []) + [index] #get(value, []) returns [] if key not present 

print(h)

{1: [0], 2: [1], 3: [2], 4: [3], 5: [4]}

In [1]:
#counting the occurrences of each element in the list
t=[1,2,3,2,3,4,5,1]
h={}
for i in t:
    h[i]=h.get(i,0)+1  #first it ckecks for keys if they are not present it give '0' so for '1' it gives 0 and we add 1 to it 
h

{1: 2, 2: 2, 3: 2, 4: 1, 5: 1}

### Join two dictionaries

In [46]:
#using update()
dict1 = {'Jessa': 70, 'Arul': 80, 'Emma': 55}
dict2 = {'Kelly': 68, 'Harry': 50, 'Olivia': 66}

# copy second dictionary into first dictionary
dict1.update(dict2)
print(dict1)            # output {'Jessa': 70, 'Arul': 80, 'Emma': 55, 'Kelly': 68, 'Harry': 50, 'Olivia': 66}

{'Jessa': 70, 'Arul': 80, 'Emma': 55, 'Kelly': 68, 'Harry': 50, 'Olivia': 66}

In [34]:
#using **  Note:Keys should be differnt for dicdictionaries
student_dict1 = {'name1':'Aadya', 'Age1': 23 }
student_dict2 = {'name2':'Harry', 'Age2':16}
student_dict3 = {'name3':'Nancy', 'Age3':19}

student_dict = {**student_dict1, **student_dict2, **student_dict3}
print(student_dict)                 # Output {'Aadya': 1, 'Arul': 2, 'Harry': 5, 'Olivia': 6, 'Nancy': 7, 'Perry': 9}

{'name1': 'Aadya', 'Age1': 23, 'name2': 'Harry', 'Age2': 16, 'name3': 'Nancy', 'Age3': 19}

In [36]:
dict1 = {'Jessa': 70, 'Arul': 80, 'Emma': 55}
dict2 = {'Kelly': 68, 'Harry': 50, 'Emma': 66}

# join two dictionaries with some common items
dict1.update(dict2)
print(dict1['Emma'])    # Output 66

dict={**dict1,**dict2}
dict['Emma']            # Output 66

66

66

### Copy a Dictionary

In [17]:
dict1 = {'Jessa': 70, 'Emma': 55}

# using copy() 
dict2 = dict1.copy()
print(dict2)           # output {'Jessa': 70, 'Emma': 55}

# using dict() 
dict3 = dict(dict1)
print(dict3)           # output {'Jessa': 70, 'Emma': 55}

# using the output of items() 
dict4 = dict(dict1.items())
print(dict4)           # output {'Jessa': 70, 'Emma': 55}

{'Jessa': 70, 'Emma': 55}
{'Jessa': 70, 'Emma': 55}
{'Jessa': 70, 'Emma': 55}

In [18]:
dict1['Jessa']=60
dict1,dict2,dict3,dict4

({'Jessa': 60, 'Emma': 55},
 {'Jessa': 70, 'Emma': 55},
 {'Jessa': 70, 'Emma': 55},
 {'Jessa': 70, 'Emma': 55})

In [42]:
#copy using "="
dict1 = {'Jessa': 70, 'Emma': 55}
dict2 = dict1

# modify dict2
dict2.update({'Jessa': 90})
print(dict2)     # Output {'Jessa': 90, 'Emma': 55}

print(dict1)     # Output {'Jessa': 90, 'Emma': 55}

{'Jessa': 90, 'Emma': 55}
{'Jessa': 90, 'Emma': 55}

### Nested dictionary

In [63]:
address = {"state": "Texas", 'city': 'Houston'}
person = {'name': 'Jessa', 'company': 'Google', 'address': address}
print("person:", person)
print("City:", person['address']['city'])

person: {'name': 'Jessa', 'company': 'Google', 'address': {'state': 'Texas', 'city': 'Houston'}}
City: Houston

In [64]:
#Add multiple dictionaries inside a single dictionary
jessa = {'name': 'Jessa', 'state': 'Texas', 'city': 'Houston', 'marks': 75}
emma = {'name': 'Emma', 'state': 'Texas', 'city': 'Dallas', 'marks': 60}
kelly = {'name': 'Kelly', 'state': 'Texas', 'city': 'Austin', 'marks': 85}

# Outer dictionary to store all student dictionaries (nested dictionaries)
class_six = {'student1': jessa, 'student2': emma, 'student3': kelly}

# Get student3's name and mark
print("Student 3 name:", class_six['student3']['name'])
print("Student 3 marks:", class_six['student3']['marks'])

Student 3 name: Kelly
Student 3 marks: 85

### Sort dictionary

In [65]:
dict1 = {'c': 45, 'b': 95, 'a': 35}

# sorting dictionary by keys
print(sorted(dict1.items()))          # Output [('a', 35), ('b', 95), ('c', 45)]

# sort dict keys
print(sorted(dict1))                  # output ['a', 'b', 'c']

# sort dictionary values
print(sorted(dict1.values()))         # output [35, 45, 95]

[('a', 35), ('b', 95), ('c', 45)]
['a', 'b', 'c']
[35, 45, 95]

### Dictionary comprehension

In [19]:
#{key : value for key,value in iterable [if key,value condition1]}

# calculate the square of each even number from a list and store in dict
numbers = [1, 3, 5, 2, 8]
{x: x ** 2 for x in numbers if x % 2 == 0}

{2: 4, 8: 64}

In [20]:
telephone_book = [1178, 4020, 5786]
persons = ['Jessa', 'Emma', 'Kelly']
{key: value for key, value in zip(persons, telephone_book)}

{'Jessa': 1178, 'Emma': 4020, 'Kelly': 5786}

### max() and min()

In [21]:
dict = {1:'aaa',2:'bbb',3:'AAA'}
print('Maximum Key',max(dict)) # 3
print('Minimum Key',min(dict)) # 1

Maximum Key 3
Minimum Key 1

###  Dictionary of Lists

In [23]:
data = {
    "fruits": ["apple", "banana", "cherry"],
    "vegetables": ["carrot", "broccoli", "spinach"],
    "grains": ["rice", "wheat", "oats"]
}

for i in data:  # keys
    print(i)
    for j in data[i]:  # 
        print(f" {j}", end=" ")
    print()

fruits
 apple  banana  cherry
vegetables
 carrot  broccoli  spinach
grains
 rice  wheat  oats

In [27]:
for cat, items in data.items():
    print(f"Keys: {cat}      values: {items}")

Keys: fruits      values: ['apple', 'banana', 'cherry']
Keys: vegetables      values: ['carrot', 'broccoli', 'spinach']
Keys: grains      values: ['rice', 'wheat', 'oats']

### Dictionary of Dictionaries

In [43]:
employees = {
    "emp1": {"name": "Alice", "age": 30, "role": "Developer"},
    "emp2": {"name": "Bob", "age": 25, "role": "Designer"},
    "emp3": {"name": "Charlie", "age": 35, "role": "Manager"}
}

for k, v in employees.items():
    print(k)                        # emp1, emp2, emp3
    for v1, v2 in v.items():        # v1: name, age, role; v2: Alice, 30, Developer, ....
        print(f" - {v1.capitalize()}: {v2}")

emp1
 - Name: Alice
 - Age: 30
 - Role: Developer
emp2
 - Name: Bob
 - Age: 25
 - Role: Designer
emp3
 - Name: Charlie
 - Age: 35
 - Role: Manager

In [54]:
# nested dictionary
departments = {
    "Engineering": {
        "employees": ["Alice", "Bob"],
        "projects": ["Project A", "Project B"]
    },
    "HR": {
        "employees": ["Charlie", "David"],
        "projects": ["Project X"]
    }
}

for k1, v1 in departments.items():      # E, H
    print(f"Departments: {k1}")
    #print(f'Data: {v1}')
    for k2, v2 in v1.items():             # k2-> employees , v2-> ['Alice', 'Bob']
        print(f' {k2.capitalize()}')
        for i in v2:
            print(f'  -{i}')

Departments: Engineering
 Employees
  -Alice
  -Bob
 Projects
  -Project A
  -Project B
Departments: HR
 Employees
  -Charlie
  -David
 Projects
  -Project X

### list of dictionaries

In [13]:
people = [
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35}
]

print(people[0]['name']+'\n')
# Iterating over the list of dictionaries
for person in people:
    print(f"Name: {person['name']}, Age: {person['age']}")

Alice

Name: Alice, Age: 30
Name: Bob, Age: 25
Name: Charlie, Age: 35

In [15]:
for person in people:
    if person['age']>=30:
        print(f"Name: {person['name']}, Age: {person['age']}")

Name: Alice, Age: 30
Name: Charlie, Age: 35

In [9]:
people = [
    {
        "name": "Alice",
        "age": 30,
        "phones": ["123-456-7890", "987-654-3210"]
    },
    {
        "name": "Bob",
        "age": 25,
        "phones": ["111-222-3333"]
    }
]
for person in people:
    print(person)

print()
for person in people:
    print(f"Name: {person['name']}. phones: {person['phones']}")

{'name': 'Alice', 'age': 30, 'phones': ['123-456-7890', '987-654-3210']}
{'name': 'Bob', 'age': 25, 'phones': ['111-222-3333']}

Name: Alice. phones: ['123-456-7890', '987-654-3210']
Name: Bob. phones: ['111-222-3333']

## Set

* Unordered
* Unchangeable 
* Unique

### Creating a set

In [1]:
#using {}
sample_set = {'Mark', 'Jessa', 25, 75.25}
print(sample_set)         # Output {25, 'Mark', 75.25, 'Jessa'}

#set()
book_set = set(("Harry Potter", "Angels and Demons", "Atlas Shrugged"))
print(book_set)           # output {'Harry Potter', 'Atlas Shrugged', 'Angels and Demons'}

{25, 'Mark', 75.25, 'Jessa'}
{'Harry Potter', 'Atlas Shrugged', 'Angels and Demons'}

In [2]:
#creating set from list
num_list=[10,20,30,40,50]
sample_set=set(num_list)
print(sample_set)

{40, 10, 50, 20, 30}

In [6]:
#But we will get error if we use mutable elements like list,dictionary
sample_set1={'Mark','Jessie',[20,10,30]}
print(sample_set1)

TypeError: unhashable type: 'list'

In [5]:
sample_set2={'Mark','Jessie',{'name':'Jessie','country':'US'}}
print(sample_set2)

TypeError: unhashable type: 'dict'

In [7]:
#empty set
empty_set = set()
print(type(empty_set))  # class 'set'

emptySet = {}
print(type(emptySet)) # class 'dict'

<class 'set'>
<class 'dict'>

In [22]:
#checking item
book_set = {"Harry Potter", "Angels and Demons", "Atlas Shrugged"}
if 'Harry Potter' in book_set:
    print("Book exists in the book set")
else:
    print("Book doesn't exist in the book set")   # Output Book exists in the book set

print("A Man called Ove" in book_set)             # Output False

Book exists in the book set
False

### Adding items

In [23]:
#add()
book_set.add('The God')

#update() ->to add multiple items
book_set.update(['Atlas','Ulysses'])
print(book_set)

{'Harry Potter', 'The God', 'Ulysses', 'Atlas', 'Atlas Shrugged', 'Angels and Demons'}

### Removing items

In [24]:
#remove() ->to remove single item Throws a keyerror if an item not present in the original set
book_set.remove('The God')
print(book_set)

#discard() ->To remove a single item that may or may not be present in the set.
book_set.discard('The God')
print(book_set)

#pop() -> remove any random item from a set
# book_set.pop()
# print(book_set)

#clear() -> empty set
book_set.clear()
print(book_set)

#del set ->delete entire set
del book_set

{'Harry Potter', 'Ulysses', 'Atlas', 'Atlas Shrugged', 'Angels and Demons'}
set()

### Set operations

In [25]:
color_set = {'violet', 'indigo', 'blue', 'green', 'yellow'}
remaining_colors = {'indigo', 'orange', 'red'}

#union of sets 

#using |(OR) operator
set_uni_or=color_set| remaining_colors
print(set_uni_or)

#union()
vibgyor_colors = color_set.union(remaining_colors)
print(vibgyor_colors)

{'orange', 'blue', 'red', 'yellow', 'indigo', 'green', 'violet'}
{'orange', 'blue', 'red', 'yellow', 'indigo', 'green', 'violet'}

In [27]:
#intersection of sets

#usning 'and'
new_set1=color_set & remaining_colors
print(new_set1)

#using intersection()
new_set2=color_set.intersection(remaining_colors)
print(new_set2)

{'indigo'}
{'indigo'}

In [28]:
#difference of sets

# difference using '-' operator
print(color_set - remaining_colors)              # output {'violet', 'blue', 'green', 'yellow'}

# using difference() method
print(color_set.difference(remaining_colors))    # Output {'violet', 'blue', 'green', 'yellow'}

{'yellow', 'green', 'blue', 'violet'}
{'yellow', 'green', 'blue', 'violet'}

### Copy set

In [29]:
color_set = {'violet', 'blue', 'green', 'yellow'}

#using copy()
color_set1=color_set.copy()

#using set()
color_set2=set(color_set)

#using = operator
color_set3=color_set

In [31]:
set1 = {20, 4, 6, 10, 8, 15}
sorted_list = sorted(set1)
print(type(sorted_list))

sorted_set = set(sorted_list)
type(sorted_set)

<class 'list'>

set

### Comprehensions

In [2]:
#list comprehension
blue_list= ["blue", "blue", "blue", "blue", "blue"]
red_list = ["red" for list_item in blue_list]
red_list

['red', 'red', 'red', 'red', 'red']

In [3]:
even_list = [x for x in range(0,11,2)]
print(even_list)
odd_list = [var+1 for var in even_list]
print(odd_list)

[0, 2, 4, 6, 8, 10]
[1, 3, 5, 7, 9, 11]

In [10]:
#Dictionary comprehension
word_meaning = [
   {
       'word': 'accomplice',
       'meaning': 'a person who helps another commit a crime.',
   },
   {
       'word': 'brutal',
       'meaning': 'savagely violent.',
   },
   {
       'word': 'cacophony',
       'meaning': 'a harsh discordant mixture of sounds.',
   },
   {
       'word': 'Accomplice',
       'meaning': 'extremely serious or urgent.',
   },
]
print(word_meaning,end="\n")

new_diction = {d['word']:d['meaning'] for d in word_meaning}
print(new_diction)

[{'word': 'accomplice', 'meaning': 'a person who helps another commit a crime.'}, {'word': 'brutal', 'meaning': 'savagely violent.'}, {'word': 'cacophony', 'meaning': 'a harsh discordant mixture of sounds.'}, {'word': 'Accomplice', 'meaning': 'extremely serious or urgent.'}]
{'accomplice': 'a person who helps another commit a crime.', 'brutal': 'savagely violent.', 'cacophony': 'a harsh discordant mixture of sounds.', 'Accomplice': 'extremely serious or urgent.'}

### Comprehensions

In [2]:
# List
nums=[1,2,3,4,5]
my_list=[n**2 for n in nums]
my_list

[1, 4, 9, 16, 25]

In [5]:
nums=[i for i in range(1,11)]  # [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

eve_list=[n for n in n if n%2==0]
eve_list

[2, 4, 6, 8, 10]

In [8]:
l1=[]
for i in 'abc':
    for j in range(3):
        l1.append((i,j))
        
l1

[('a', 0),
 ('a', 1),
 ('a', 2),
 ('b', 0),
 ('b', 1),
 ('b', 2),
 ('c', 0),
 ('c', 1),
 ('c', 2)]

In [7]:
[(letter, num) for letter in 'abc' for num in range(3)]

[('a', 0),
 ('a', 1),
 ('a', 2),
 ('b', 0),
 ('b', 1),
 ('b', 2),
 ('c', 0),
 ('c', 1),
 ('c', 2)]

In [9]:
rows = 5
# outer loop
for i in range(1, rows + 1):
    # inner loop
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [16]:
rows = 5
triangle = [' '.join(['*' for j in range(1, i + 1)]) for i in range(1, rows + 1)]
print('\n'.join(triangle))

*
* *
* * *
* * * *
* * * * *

In [21]:
rows = 5

# List comprehension to generate the pattern
pattern = ['* ' * i for i in range(1, rows + 1)]

# Print the pattern
for line in pattern:
    print(line)

*
* *
* * *
* * * *
* * * * *

In [22]:
pattern

['* ', '* * ', '* * * ', '* * * * ', '* * * * * ']

In [23]:
[i if i.isalpha() else ' ' for i in 'abcd123']

['a', 'b', 'c', 'd', ' ', ' ', ' ']

In [26]:
# Dictionary
names=['Bruce', 'Clark','Peter', 'Wade']
heroes=['Batman', 'Superman', 'Spiderman', 'Deadpool']

dict(zip(names, heroes))

{'Bruce': 'Batman',
 'Clark': 'Superman',
 'Peter': 'Spiderman',
 'Wade': 'Deadpool'}

In [29]:
my_dict={name:hero for name, hero in zip(names, heroes)}
my_dict

{'Bruce': 'Batman',
 'Clark': 'Superman',
 'Peter': 'Spiderman',
 'Wade': 'Deadpool'}

In [30]:
# Creating a dictionary with even numbers as keys and their squares as values
even_squares = {x: x**2 for x in range(1, 11) if x % 2 == 0}
print(even_squares)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [31]:
# set comprehension
my_set={n for n in 'hello world'}
my_set

{' ', 'd', 'e', 'h', 'l', 'o', 'r', 'w'}