### Divisible or not

In [49]:
def is_divisible(a,b):
    if not a%b:  # Note that in Python, a 0 value is falsy, so you need to use the not operator to negate the truth value of the condition.
        return True
    return False

is_divisible(4,2)

True

In [51]:
def is_diviible(a,b):
    return not a%b

is_diviible(4,2)

True

In [52]:
def is_equal(a,b):
    if a==b:
        return True
    return False

is_equal(2,2)

True

In [53]:
def both_true(a,b):
    return True if a and b else False

both_true(1,2), both_true(1,1), both_true(1,0)

(True, True, False)

### Prime numbers

In [9]:
def is_prime(n):
    if n < 2:
        return "Not Prime"
    
    for i in range(2,n):
        if n%i==0:
            return "Not Prime"
    return "prime"
            
is_prime(int(input()))

7

'prime'

In [12]:
a=int(input())
b=int(input())

for i in range(a,b+1):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i, end=" ")

2 3 5 7 11 13

### Factorial

In [15]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f*=i
    return f

fact(int(input()))

12

479001600

In [18]:
def factorial(n):
    if n<0:
        return "No factorial"
    elif n<=1:
        return 1
    else:
        return n*factorial(n-1)
    
factorial(int(input()))

-2

'No factorial'

### Fibonacci

In [19]:
def fibonacci(n):
    if n<0:
        return "No series"
    else:
        s=[]
        a,b=0,1
        for i in range(n):
            s.append(a)
            a,b=b,a+b

        return s
    
fibonacci(int(input()))

5

[0, 1, 1, 2, 3]

### Factors of a Number

In [21]:
def print_factors(x):
    print("The factors of",x,"are:")
    for i in range(1, x + 1):
        if x % i == 0:
            print(i, end=" ")

num = 320
print_factors(num)

The factors of 320 are:
1 2 4 5 8 10 16 20 32 40 64 80 160 320

### HCF & LCM

In [24]:
def hcf(x, y):
    while(y):
        x, y = y, x % y
    return x

hcf(300, 400)

100

In [26]:
def lcm(x,y):
    return (x*y)//hcf(x,y)

lcm(15,10)

30

In [27]:
def lcm(a, b):
    multiple = max(a, b)

    while True:
        if multiple % a == 0 and multiple % b == 0:
            return multiple
        multiple += 1

# Take user input for the two numbers
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

# Calculate the LCM
lcm(num1, num2)

Enter the first number: 5
Enter the second number: 10

10

### Leap year finding

In [3]:
def leap_year(year):
    # divided by 100 means century year (ending with 00)
    # century year divided by 400 is leap year
    if (year%100==0) and (year%400==0):
        return "Leap Year"
    
    # year divided by 4 is a leap year
    if year%4==0:
        return "Leap Year"
    
    else:
        return "Not leap year"
    
leap_year(int(input()))

2026

'Not leap year'

### Armstrong Number

In [25]:
def armstrong(n):
    sum=0
    temp=n
    order=len(str(n))
    while temp>0:
        rem=temp%10
        sum+=rem**order
        temp=temp//10
        
    if n==sum:
        return "Armstrong"
    else:
        return "Not Armstrong"

armstrong(int(input()))

1634

'Armstrong'

In [30]:
def armstrong_list(a,b):
    for n in range(a, b+1):
        order=len(str(n))
        sum=0
        temp=n
        while temp>0:
            r=temp%10
            sum+=r**order
            temp//=10
        if n==sum:
            print(sum, end=" ")
            
a=int(input())
b=int(input())
armstrong_list(a,b)

100
2000
153 370 371 407 1634

### Division and Square-root

In [2]:
def divide_or_square(n):
    if n%5==0:
        return n**(1/2)
    else:
        return n%5
    
divide_or_square(int(input()))

10

3.1622776601683795

### Longest Value

In [5]:
def longest_val(d):
    longest=max(d.values(), key=len)
    return longest

fruits= {'fruit': 'apple', 'color': 'green-red'}
longest_val(fruits)

'green-red'

### String to Int then Sum

In [6]:
def convert_add(l):
    s=0
    for i in l:
        s+=int(i)
    return s

l=['1', '2', '3']
convert_add(l)

6

### Check Duplicates

In [14]:
def duplicate_check(l):
    for i in l:
        if l.count(i)>1:
            return i
        else:
            return 'No duplicates'
        
fruits=['banana', 'apple', 'orange', 'banana', 'apple']
duplicate_check(fruits)

'banana'

In [7]:
d={}
for i in ['banana', 'apple', 'orange', 'banana', 'apple']:
    if i in d.keys():
        d[i]+=1
    else:
        d[i]=1
d

{'banana': 2, 'apple': 2, 'orange': 1}

In [9]:
def registered_stu(d):
    c=0
    for i in d.values():
        if i.lower()=='yes':
            c+=1
    return '# of students registered ',c

s={'A': 'yes', 'B': 'No', 'C': 'Yes', 'D': 'yes'}
registered_stu(s)

('# of students registered ', 3)

In [57]:
def word_index(l):
    c=len(l[0])   
    ind=0
    for i in range(len(l)):
        if len(l[i])>c:
            c=len(l[i])
            ind=i
        
        elif len(l[i])==c and i<ind:
            ind=i
    return ind
    
#l=["Hate", "remorse", "vengeance"]
l=['Word', 'Hate']
word_index(l)

0

In [55]:
def find_longest_index(strings):
    # Check if all strings have the same length
    if all(len(s) == len(strings[0]) for s in strings):
        return 0
    
    # Find the index of the longest string
    longest_index = max(range(len(strings)), key=lambda i: len(strings[i]))
    return longest_index

# Example usage:
#my_strings = ["apple", "banana", "orange", "grape"]
my_strings=['love', 'hate', 'pyar', 'kush']
result = find_longest_index(my_strings)

print("Index of the longest string:", result)

Index of the longest string: 0

In [41]:
def is_equal_len(l):
    c=len(l[0])
    el=True
    for i in range(len(l)):
        if len(l[i])==c:
            el=True
        else:
            el=False
    return el
        
        
#l=["Hate", "remorse", "vengeance"]
l=['Love', 'Hate', 'Pyar']
is_equal_len(l)

True

In [47]:
def discount():
    price=int(input("Enter the price: "))
    dis=int(input("Enter the discount: "))
    cost=price* (100-dis)/100
    return f'This item cost is {price} with discount {dis} and now you have to pay {cost}'

discount()

Enter the price: 150
Enter the discount: 15

'This item cost is 150 with discount 15 and now you have to pay 127.5'