[YouTube](https://www.youtube.com/watch?v=bnSYeYFRCaA)

In [1]:
# capitalize
str=input()
str.capitalize()  # 'Hello'

hello

'Hello'

In [2]:
# casefold
txt='MAriO'
txt.casefold()  # 'mario'

'mario'

In [6]:
# center
txt='Durga'
txt.center(10), txt.center(10,'*')

('  Durga   ', '**Durga***')

In [26]:
txt='Durga'
txt.ljust(10, '-'), txt.rjust(10, '-')

('Durga-----', '-----Durga')

In [7]:
txt='abc_abc_ab'
txt.count('ab')

3

In [9]:
txt='apple'
txt.endswith('e'), txt.endswith( ('a','e','i','o','u') )   # text ends with vowels

(True, True)

In [10]:
# find
txt="Hello World! How are you?"
pos=txt.find('are')
pos, txt[pos:]

(17, 'are you?')

In [16]:
# index
txt="Hello World! How are you?"
pos=txt.index('are')
pos, txt[pos:]

(17, 'are you?')

In [17]:
# find vs index
txt="Hello World! How are you?"
pos=txt.find('You')  # if no such string is there it returns -1, but index returns error
pos, txt[pos:]

(-1, '?')

In [11]:
# format
txt1='{sub} sounds {sound}'
txt1.format(sub='Cat', sound='meow')

'Cat sounds meow'

In [13]:
txt2='{} sounds {}'
txt2.format('Dog', 'bark')

'Dog sounds bark'

In [1]:
ani=input("Enter Animal name: ")
sou=input("Enter the animal sound: ")
print('{} sounds {}.'.format(ani, sou))

Enter Animal name: Cat
Enter the animal sound: Meow
Cat sounds Meow.

In [14]:
# format_map
coordinates={'x':10, 'y':-5}
txt='Coordinates: ({x}, {y})'
txt.format_map(coordinates)

'Coordinates: (10, -5)'

In [15]:
pet_with_sound={'pet': 'Cat', 'sound': 'meow'}
txt='{pet} {sound}'
txt.format_map(pet_with_sound)

'Cat meow'

In [19]:
#isalnum
txt='hello123'
txt.isalnum(), txt.isalpha(), txt.isascii()

(True, False, True)

In [24]:
# isdecimal
txt1='123'
txt2='123Â²3'
txt1.isdecimal(), txt2.isdecimal(), txt1.isdigit(), txt2.isdigit()  # subscript is a digit, but fraction is not

(True, False, True, True)

In [23]:
txt='-123'
txt.isdecimal(), txt.isdigit()

(False, False)

In [30]:
# lstrip
txt='I love mango'
txt.lstrip('I '), txt.rstrip(' mango')

('love mango', 'I love')

In [32]:
# maketrans and translate
txt="HHeH"
txt1=txt1.maketrans('H', 'ðŸ˜€')
txt.translate(txt1)

'ðŸ˜€ðŸ˜€eðŸ˜€'

In [7]:
msg1='Hello World!'
msg2='Welcome to Python'

print(msg1+" "+msg2)
print(msg1*2)
(msg1+", ")*2

Hello World! Welcome to Python
Hello World!Hello World!

'Hello World!, Hello World!, '

In [5]:
del msg1

In [1]:
s='string1'
s

'string1'

In [2]:
s='string2'
s

'string2'

In [9]:
print("-"*5)
print("*"*5)
print("#"*5)
print("="*5)
print(":-) "*5)

-----
*****
#####
=====
:-) :-) :-) :-) :-)

### end & sep parameters

In [8]:
#end -> append last to the print's output
#by defaults end is a newline =>end="\n"

print("hii")
print("welcome")

print("hii",end="\n")
print("welcome")

print("Hello!!",end=" ")
print("Welcome to Python")

print("Hello!!",end=" coders ")
print("Welcome to Python")

hii
welcome
hii
welcome
Hello!! Welcome to Python
Hello!! coders Welcome to Python

In [15]:
#sep ->print multiple values
#by default sep is whitespace(" ")

print("Study", "Python")
print("Study", "Python", sep=' ')
print()

print('study','learn',sep=' & ')
print('Python','is','a','simple','programming','language',sep='_')

Study Python
Study Python

study & learn
Python_is_a_simple_programming_language
T_R_A_I_N

In [21]:
print('T','R','A','I','N',sep='-',end='_()-')
print()
print('Python','is','a','simple','programming','language',sep='_',end=" for_students")

T-R-A-I-N_()-
Python_is_a_simple_programming_language for_students

In [13]:
s1=input("Enter string: ")
s2=s1.replace(" ","") and s1.upper()  #the and operator does not modify the original string
s3=s1.replace(" ","") and s1.upper() and s1.capitalize()
s1,s2,s3

Enter string: durga

('durga', 'DURGA', 'Durga')

In [5]:
s=input("Enter string: ")
s.replace(" ","").upper()
l=[]
for i in s:
    l.append(i)
print(l)

Enter string: durga prasad
['D', 'U', 'R', 'G', 'A', 'P', 'R', 'A', 'S', 'A', 'D']

In [19]:
s= input("Enter string: ")
s= list(s.upper().replace(" ",''))
print(s)

Enter string: durga prasad
durga prasad ['D', 'U', 'R', 'G', 'A', 'P', 'R', 'A', 'S', 'A', 'D']

### Built-in String Functions

In [9]:
#chr() -> Converts an integer to a character
chr(2),chr(35),chr(8364)

('\x02', '#', 'â‚¬')

In [7]:
#ord() -> Converts a character to an integer
ord('A'),ord('#'),ord('@')

(65, 35, 64)

In [4]:
#len() -> Returns the length of a string
len('Hello')

5

In [12]:
#str() -> Returns a string representation of an object
str(1),str('foo'),str(3+20),str(1+2j)

('1', 'foo', '23', '(1+2j)')

### We can't modify strings

In [14]:
s='Hello'
s[0]='c'

TypeError: 'str' object does not support item assignment

In [16]:
text = "Hello"
new_text = 'J' + text[1:]
new_text

'Jello'

In [17]:
"Fake Python".replace("Fake", "Real")

'Real Python'

In [18]:
"Fake Python".replace("fake", "Real")

'Fake Python'

In [22]:
#Multiple replacements
repl=[('Fake','Real'),('Bad','Good'),('False','True')]
s='Fake python is Bad and it is False'
for old,new in repl:
    s=s.replace(old,new)
s

'Real python is Good and it is True'

### [f-string](https://www.youtube.com/watch?v=EoNOWVYKyo0)

In [9]:
n=1000000 # 1_000_000
print(f'{n:_}')
print(f'{n:,}')

1_000_000
1,000,000

In [22]:
s='var'
print(f':{s:>10}')
print(f'{s:10}:')  # default 
print(f':{s:^10}:')

print()

print(f'{s:X>10}')   
print(f'{s:-^10}')

:       var
var       :
:   var    :

XXXXXXXvar
---var----

In [29]:
from datetime import datetime
now=datetime.now()
print(f'{now:%d.%m.%Y (%H:%M:%S)}')
print(f'{now:%d/%m/%Y}')
print(f'{now:%Y %d,%m}')

print(f'{now:%c}') # local version

# 12hr format with am/pm
print(f'{now:%I %p}')

02.04.2024 (08:01:41)
02/04/2024
2024 02,04
Tue Apr  2 08:01:41 2024
08 AM

In [30]:
n=1234.5678
print(f'{n:.2f}')
print(f'{n:,.2f}')

1234.57
1,234.57

In [31]:
a,b=10,5
s='Hello'

print(f'a+b= {a+b}')  # look at the spaces in output also
print(f'{a + b = }')
print(f'{s= }')

a+b= 15
a + b = 15
s= 'Hello'

## String Methods

In [32]:
# Remove White Space

# using replace()
s = "H E L L O"
print(s," ",s.replace(" ", ""))

# Using split() and join
txt = "welcome to the jungle"
print(txt.split())
print("original text: ",txt)

# Now Use join() 
print(''.join(txt.split()))
print("original text: ",txt)

H E L L O   HELLO
['welcome', 'to', 'the', 'jungle']
original text:  welcome to the jungle
welcometothejungle
original text:  welcome to the jungle

In [46]:
#strip()
string = "   hello world   "
print(string.strip()) #hello world
print('original string->',string,end="end")

print()
#lstrip()
string = "   hello world   "
print(string.lstrip())  # Output: "hello world   "
print('original string->',string,end="end")

print()
print(string.rstrip())
print('original string->',string,end="end")

hello world
original string->    hello world   end
hello world
original string->    hello world   end
   hello world
original string->    hello world   end

In [7]:
# capitalize() -> first letter as upper case 
msg="hello world"
msg.capitalize()

'Hello world'

In [65]:
#title()
msg="hello world"
msg.title()

'Hello World'

In [22]:
# casefold() -> converts a string to a case-insensitive form
msg="Hello World"
print(msg.casefold())

s='HELLO WORLD'
print(s,s.casefold())

#compare two strings in a case-insensitive
string1 = "Hello"
string2 = "hello"

if string1.casefold() == string2.casefold():
    print("The strings are equal (case-insensitive).")
else:
    print("The strings are not equal (case-insensitive).")

hello world
HELLO WORLD hello world
The strings are equal (case-insensitive).

In [12]:
# center() 
#Syntax : str.center(width, fillChar) here fillChar is optional
msg='Hello'
print(msg.center(20))
msg.center(20,'-')

       Hello

'-------Hello--------'

In [15]:
# count()
#syntax : str.count(substring, start, end) here start and stop are optional

myText = 'Hello World Hello'
print(myText.count('H'))

print(myText.count('H',0,5))  #start-> 0 stop-> 5
print(myText.count('H',7))    #start 7

2
1
1

In [71]:
#expandtabs(tabsize(optional))->sets the tab size to the specified number of whitespaces.
txt ='\t'.join("Hello")
print(txt.expandtabs())  #tabsize is 8
print(txt.expandtabs(5))

H       e       l       l       o
H    e    l    l    o

In [16]:
# endsWith()
#Syntax : str.endsWith(suffix, start, end)  here start and stop are optional

text = "Welcome to interview bit"
print(text.endswith('bit'))
print(text.endswith('interview '))
print(text.endswith('Welcome to interview bit'))

True
False
True

In [25]:
# find() ->Returns the index of the first occurrence of a substring in a string.
#Syntax : str.find(substr, start, end) Start & end: both are the optional
sentence = 'Good Morning, Hello! Hello? How are you?'

print(sentence.find('Hello'))
print(sentence.find('Bye'))  #returns -1 if substring not found
print(sentence.find('Hello',0,5))
print(sentence.find('Hello',10))
print(sentence.find('Hello',5,-20))

Hello  14
-1
-1
14
14

In [55]:
#rfind()->find the last occurrence of a substring within a string.
string = "Hello World"
print(string.rfind("o"))
print(string.rfind("a"))

7
-1

In [80]:
# format()

# Positional Parameters
S1 = 'Hello {0} World! {1}'
print(S1.format('beautiful', 'good morning'))
 
S2 = 'Hello {0}, your bank balance is {1:9.2f}'
print(S2.format('customer', 999.456))
 
# Keyword Parameters
S3 = 'Hello {name}, good {timeofday}!'
print(S3.format(timeofday='afternoon', name='John'))

Hello beautiful World! good morning
Hello customer, your bank balance is    999.46
Hello customer, your bank balance is    999.46
Hello John, good afternoon!

In [2]:
num1=3.14159
print("{:.2f}".format(num1))  #for 2 it is 2.00

num2=1000000
print("{:,.2f}".format(num2))

3.14
1,000,000.00

In [4]:
percentage1 = 0.75
formatted_percentage1 = "{:.2%}".format(percentage1)
print(formatted_percentage1)  # Output: 75.00%

percentage2 = 0.7512
formatted_percentage2 = "{:.2%}".format(percentage2)
print(formatted_percentage2)  # Output: 75.12%

percentage3 = 2.75
formatted_percentage3 = "{:.2%}".format(percentage3)
print(formatted_percentage3)  # Output: 275.00%

75.00%
75.12%
275.00%

In [11]:
x=[1,2,3,4,5,5]
x[n/2]
6//2

3

In [26]:
def even(n):
    if n%2:
        return 'even'
    else:
        return 'odd'
n=int(input())   
print(even(n))

5
even

In [58]:
# from collections import Counter

# def my_mode(sample):
#     c = Counter(sample)
#     return [k for k, v in c.items() if v == c.most_common(1)[0][1]]

# my_mode([1,2,3,4,3])

d={4: 1, 1: 1, 2: 1}
print(max(d.values()))
if max(d.values())<1:
        print(min(i))

1

In [65]:
def mode(x):
    d={}
    for i in x:
        if i in d.keys():
            d[i]+=1
        else:
            d[i]=1
    print(d)
    print(max(d.values()))
    
    for i in d:
        if max(d.values())<=1:
            return min(i)
        elif d[i]==max(d.values()):
            return i
        
mode([4, 1, 2])

{4: 1, 1: 1, 2: 1}
1

TypeError: 'int' object is not iterable

In [67]:
def mode(x):
    d = {}
    for i in x:
        if i in d:
            d[i] += 1
        else:
            d[i] = 1
    
    max_count = max(d.values())
    modes = [num for num, count in d.items() if count == max_count]
    
    if max_count < 2:
        return min(x)
    elif len(modes) == len(x):
        return "all numbers are modes"
    else:
        return modes

result = mode([4, 1, 2])
print(result)

1

In [68]:
n = int(input())
x = []
for i in range(n):
    s = int(input())
    x.append(s)
m = sum(x)
print("{:.1f}".format(m / float(n)))

def med(x, n):
    x = sorted(x)
    if n % 2 == 0:
        return (x[n // 2 - 1] + x[n // 2]) / 2
    else:
        return x[n // 2]

print(med(x, n))

def mode(x):
    d = {}
    for i in x:
        if i in d:
            d[i] += 1
        else:
            d[i] = 1
    
    max_count = max(d.values())
    modes = [num for num, count in d.items() if count == max_count]
    
    if max_count < 2:
        return min(x)
    elif len(modes) == len(x):
        return "all numbers are modes"
    else:
        return modes

result = mode(x)
print(result)

4
1
2
3
4
2.5
2.5
1

In [13]:
# index()
# Syntax : str.index(substr, start, end)

sentence = 'android is amazing, apple ios is amazing'
print('is amazing ->', sentence.index('is amazing'))
print(sentence[sentence.index('is amazing')])

# 2 Substring is searched in 'apple ios is amazing'
print('amazing after 20 ->', sentence.index('amazing', 20))

# 3 Substring is searched in 'apple ios is'
print('ios between 20 and -8 ->', sentence.index('ios', 20, -8))

# 4 Substring is searched in 'apple ios is amazing'
print('amazing  between 20 and len of string ->', sentence.index('amazing', 20, len(sentence)))

# 5 When substring not found, will return error
print(sentence.index('android', 20, len(sentence)))

is amazing -> 8
i
amazing after 20 -> 33
ios between 20 and -8 -> 26
amazing  between 20 and len of string -> 33

ValueError: substring not found

In [35]:
# isalnum() -> true if all characters in a string are alphanumeric
word1 = "onetwothree123"
word1.isalnum()  #True

word2 = "one two three 1 2 3"
word2.isalnum()  #False

False

In [47]:
#istitle() ->checks if a string is in titlecase(first character of each word is capitalized and the rest are lowercase)
string = "Hello World"
string.istitle()

True

In [49]:
#isspace()->Return True if there are only whitespace characters 
print(string.isspace())
s=' '
s.isspace()

False

True

In [50]:
#removeprefix()
string = "Hello, World!"
result = string.removeprefix("Hello, ")
print(result)  # Output: "World!"

result = string.removeprefix("Hi, ")
print(result)  # Output: "Hello, World!"

World!
Hello, World!

In [52]:
#removesuffix()
print(string.removesuffix('World!'))
print(string.removesuffix('World'))

Hello,
Hello, World!

In [40]:
# join()  ->Returns a string by joining all the elements of an iterable collection.
#Syntax : str.join(collection)  #collections include: List, Tuple, Set & Dictionary.


l=['yesterday','today','tomorrow']
print(' then '.join(l) + '\n')
print('\n'.join(l))

yesterday then today then tomorrow

yesterday
today
tomorrow

In [15]:
# ljust() ->left justified string
#Syntax : str.ljust(width, fillchar)

S = '123'
print(S.ljust(10,'#'))
print(S.rjust(10,'#'))

123#######
#######123

In [51]:
# partition()
# Syntax : str.partition(separator)

S = 'How are you? How have you been?'
print(S.partition('you'))
print(S.partition('How'))
print(S.partition('xyz'))

('How are ', 'you', '? How have you been?')
('', 'How', ' are you? How have you been?')
('How are you? How have you been?', '', '')

In [53]:
# swapcase()
s='Hello World'
print(s.swapcase())

s1='hELLO wORLD'
print(s1.swapcase())

s2='h@llo W0rld'
s2.swapcase()

hELLO wORLD
Hello World

'H@LLO w0RLD'

In [59]:
#translate() Returns a string by replacing each character with its corresponding character provided in the mapping table
# Syntax : str.translate(mappingTable)

S = "hey, how are you?"
print(S.maketrans('hrae', 'zabc')) # replacing 'h' with 'z', 'r' with 'a'
print(S.translate(S.maketrans('hay', 'ibz')))

#replacing 'a' with 'A', 'h' with 'H', 'e' with ''
translation = { 97: 65, 104: 72, 101: None}
print(S.translate(translation))

{104: 122, 114: 97, 97: 98, 101: 99}
iez, iow bre zou?
Hy, How Ar you?

In [64]:
#zfill()->pad a string with zeros (0) on the left side
n='42'
print(n.zfill(5),'length: ',len(n.zfill(5)))

n='-5.2'
print(n.zfill(8),'length: ',len(n.zfill(8)))

n='123456'
print(n.zfill(5),'length: ',len(n.zfill(5)))

00042 length:  5
-00005.2 length:  8
123456 length:  6

In [1]:
rankings = {"Gonzaga": 31, "Baylor": 28, "Michigan": 25, "Illinois": 24, "Houston": 21}
for team, score in rankings.items():
    print(f"{team:10} ==> {score:10d}") #: for  {team:10} and {score:10d} tells the computer to create a field that is 10 characters wide

Gonzaga    ==>         31
Baylor     ==>         28
Michigan   ==>         25
Illinois   ==>         24
Houston    ==>         21

### String Formatting / String Interpolation

We formatting the strings in the following ways:
* Formatting with Format Specifiers
* Formatting using f-strings
* Formatting using format() string method

In [1]:
#Format specfiers

#for String -> '%s'
st='Hello'
lan='Python'
print("%s coders welcome to %s" %(st,lan))

Hello coders welcome to Python

In [5]:
#for Single Character -> '%c'
sc='s'
print('%c' % sc)

s

In [3]:
#for Floating Point Decimal -> '%f'
number = 3.1415
print("%f" % number)
print("%.3f" % number)

3.141500
3.142

In [2]:
number = 10
result = "{:.2f}".format(number)
print(result)  # Output: "10.00" (number is treated as a float and zero-padded with two decimal places)

10.00

In [2]:
#for Signed Integer Decimal -> '%d'
myCode=123
print("My code is %d" % myCode)

My code is 123

In [8]:
#for single 
myNum = -1234
print("Number is: {}".format(myNum))

Number is: -1234

In [6]:
myCode = 1117
myName = "Scaler"
myVar = 1234
myStr = "Variable is {2} and Code of {0} is {1}".format(myName, myCode, myVar)
print(myStr)

Variable is 1234 and Code of Scaler is 1117

In [7]:
myCode = 1117
myName = "Scaler"
myVar = 1234
myStr = "Variable is {2} and Code of {0} is {1}".format(myName, myCode, myVar)
print(myStr)

Variable is 1234 and Code of Scaler is 1117

In [10]:
#align with format()
myNum = -1234
print("Left Aligned Number with length 10 is: {:<10}.".format(myNum))
print("Right Aligned Number with length 10 is: {:>10}.".format(myNum))
print("Center Aligned Number with length 10 is: {:^10}.".format(myNum))

Left Aligned Number with length 10 is: -1234     .
Right Aligned Number with length 10 is:      -1234.
Center Aligned Number with length 10 is:   -1234   .

In [11]:
#Truncating strings
myString = "Scaler"
print("Truncated String with length 3 is: {:.3}".format(myString))

Truncated String with length 3 is: Sca

In [3]:
def welcome(name1,age1):
    return "Welcome {name}. Your age is {age}".format(name=name1,age=age1)

welcome('Durga',23)

'Welcome Durga. Your age is 23'

In [12]:
#Escape characters

# \\ ->store one \  
print("M\\F")  #here \f is a escape sequence that's why we used \\

# \' -> stores '
print("doesn\'t")

# \" -> stores "
print("I\'m an \"Indian\"")

# \b -> Backspace
print("Hii\b")

# \f -> Formfeed
print("hi\f")

# \n -> Newline(linefeed)
print('C:\some\name')

# \r -> Carriage return
print('C:\some\rename')

# \t -> Horizontal tab
print("Hello \tworld")

M\F
doesn't
I'm an "Indian"
Hii
hi
C:\some
ame
ename
Hello 	world

In [4]:
print("The boy replies \"My name is DP.\" ")

The boy replies "My name is DP."

In [7]:
print("today is Aug 15. \nIndia beccame independent on this day")

today is Aug 15.
India beccame independent on this day

In [8]:
print('Hello all \t Welcome to Python')

Hello all 	 Welcome to Python

In [9]:
print('I have studied many programming languages. \
But my favourite is python')

I have studied many programming languages. But my favourite is python

### String operations on data

In [4]:
s='a, ab, abc, abcd, abcde'
s

'a, ab, abc, abcd, abcde'

In [9]:
s.split(',')

['a', ' ab', ' abc', ' abcd', ' abcde']

In [10]:
terms=[x.strip() for x in s.split(',')]  # Split and Remove whitespace 
terms

['a', 'ab', 'abc', 'abcd', 'abcde']

In [11]:
# Concatenating string with delimeters
first,second,third,fourth,fifth=terms
first,second,third,fourth,fifth

('a', 'ab', 'abc', 'abcd', 'abcde')

In [12]:
first+'::'+second+'::'+third+'::'+fourth+'::'+fifth

'a::ab::abc::abcd::abcde'

In [13]:
# Using join method
'::'.join(terms)

'a::ab::abc::abcd::abcde'

In [14]:
import re

In [20]:
# splitting string have different whitespaces (tabs,spaces, newline)
text="Om namah\t shivaya \tchant 5 times"
text

'Om namah\t shivaya \tchant 5 times'

In [21]:
# 1. '\s+'
re.split('\s+',text)

['Om', 'namah', 'shivaya', 'chant', '5', 'times']

### Regular Expressions
It is a powerful tool for various kinds of string manipulation. These are basically a special text string that is used for describing a search pattern to extract information from text such as code, file or even documents.

In [1]:
import re

#### match()
re.match(pattern,string,flags=0)

to match the patterns with a string

In [4]:
s1="she sells sea shells on the sea shore"
if re.match('sells',s1):
    print("match found")
else:
    print("Not found")   # 'sells' not present at beginning
    
if re.match('she',s1):
    print("match found")
else:
    print("Not found")

Not found
match found

#### search()
re.search(pattern,string,flags=0)

#search for a patterns anywhere in the string

In [5]:
s1="she sells sea shells on the sea shore"
if re.search('sells',s1):
    print("match found")
else:
    print("Not found")   
    
if re.search('she',s1):
    print("match found")
else:
    print("Not found")

match found
match found

#### sub()
sub(pattern,repl,string,max=0)

replaces all occurences of the pattern in string with repl

In [11]:
s1="she sells sea shells on the sea shore"
s2=re.sub('sea','beach',s1,1) #only one occurence will replace since 1 is our max
print(s2)

s3= re.sub('sea','sea',s1) #all ocuurences will replace
print(s3)

she sells beach shells on the sea shore
she sells sea shells on the sea shore

#### findall()
re.findall(pattern,input_str,flags=0)

to search a string and returns a list of all substrings that match a pattern

In [18]:
pattern=r"[a-zA-Z]"  #pattern with 1 or more characters
matches=re.findall(pattern,"KGF 2020, RRR 2022, Bahubali 2016, Pushpa 2021")
print(matches)

for match in matches:
    print(match,end=",")

['K', 'G', 'F', 'R', 'R', 'R', 'B', 'a', 'h', 'u', 'b', 'a', 'l', 'i', 'P', 'u', 's', 'h', 'p', 'a']
K,G,F,R,R,R,B,a,h,u,b,a,l,i,P,u,s,h,p,a,