In [1]:
import sqlite3

In [29]:
conn=sqlite3.connect('example.db')  # an example db created
conn

In [30]:
# cursor to iterate all the tables, rows
cur=conn.cursor()

In [31]:
# create a table
cur.execute('''
  Create table if not exists emp(
       id integer,                        -- primary key,
       name text not null,
       age integer,
       dept text
    )
''')

# commit the change
conn.commit()

In [32]:
cur.execute('select * from emp')

In [33]:
# insert the data
cur.execute('''
   insert into emp(id, name, age, dept) values
     (1,'Durga', 25, 'DS'), (2, 'Prasad', 24, 'NLP'), (3, 'Attaluri', 23, 'DA')
''')

conn.commit()

OperationalError: database is locked

In [15]:
cur.execute('select * from emp')
rows=cur.fetchall()

for r in rows:
    print(r)

(2, 'Prasad', 24, 'NLP')
(3, 'Attaluri', 24, 'DA')

In [ ]:
emp_val=[
    (4, 'Sri', 24, 'DS'), (5, 'Balaji', 24, 'Android'), (6, 'Harsha', 23, 'Anime')
]

cur.execute('''
  insert into emp values(?, ?, ?, ?)
''', emp_val)

conn.commit()

In [34]:
# update the data
cur.execute('''
  update emp set age=24 where id=3
''')

conn.commit()

OperationalError: database is locked

In [35]:
# delete rows
cur.execute('''
  delete from emp where id=1 
''')

conn.commit()

OperationalError: database is locked

In [16]:
# closing the connection to stop performing on our db
conn.close()