In [1]:
import array

In [4]:
# integer array
my_int_array =  array.array('i', [1,2,3,4])
print(my_int_array)

# float
my_float_array = array.array('f', [1.0, 2, 3.5, 2.57])
print(my_float_array )

array('i', [1, 2, 3, 4])
array('f', [1.0, 2.0, 3.5, 2.569999933242798])

In [ ]:
# Access array elements
print(my_int_array[2])

# Update/Modifying elements
my_float_array[1]=2.5
print(my_float_array)

# Adding elements
my_int_array.append(6)
print(my_int_array)

# Removing elements
my_int_array.pop(1)
print(my_int_array)

4
array('f', [1.0, 2.5, 3.5, 2.569999933242798])
array('i', [1, 3, 4, 6, 6])
array('i', [1, 4, 6, 6])

In [9]:
import math

In [10]:
math.sqrt(25)

5.0

In [11]:
math.pi

3.141592653589793

In [13]:
print("Log 10 value ", math.log10(2))
print("Log base 2 value of 20", math.log(20,2))

Log 10 value  0.3010299956639812
Log base 2 value of 20 4.321928094887363

In [15]:
print(math.exp(3))
print(math.factorial(3))
print(math.gcd(2,8))

20.085536923187668
6
2

In [14]:
import json

In [ ]:
# dumps:- Converting Python objects (like dictionaries, lists, strings, numbers, booleans, and None) into a JSON string.
data={
    "name": "Alice", "age":25, "City": "Delhi"
}

# Serialization (Python to JSON)
json_str=json.dumps(data)
print(f"JSON string: {json_str}")
print(f"Type of json_str is: {type(json_str)}")

JSON string: {"name": "Alice", "age": 25, "City": "Delhi"}
Type of json_str is: <class 'str'>

In [ ]:
# loads:-Parsing a JSON string into a Python object. 

# Deserialization (JSON to Python)
pyt_obj=json.loads(json_str)
print(f"Python object:{pyt_obj}")

Python object:{'name': 'Alice', 'age': 25, 'City': 'Delhi'}

In [ ]:
# Working with files

# Writing to a json file
  ## dump():- Writes a Python object as JSON into a file.
with open("data.json", "w") as json_file:
    json.dump(data, json_file, indent=4)


# Reading from a json file
  ## load():- Reads a JSON formatted file and converts it into a Python object.
with open("data.json", "r") as json_file:
    loaded_data=json.load(json_file)
print(f"Data loaded from file: {loaded_data}")

Data loaded from file: {'name': 'Alice', 'age': 25, 'City': 'Delhi'}

In [24]:
# List to json
list1=[1, 2, None, True]
print(json.dumps(list1))

[1, 2, null, true]

In [30]:
# Format json

## indent
print(json.dumps(data, indent=3))

## sort json
json_data = json.dumps(data, sort_keys=True)
print("\n", json_data)

## separator
print("\n", json.dumps(data, separators=("; ", "=")))

{
   "name": "Alice",
   "age": 25,
   "City": "Delhi"
}

 {"City": "Delhi", "age": 25, "name": "Alice"}

 {"name"="Alice"; "age"=25; "City"="Delhi"}

In [23]:
import json

json1 = '{"name": "Alice", "age": 25}'
json2 = '{"city": "New York", "hobbies": ["reading", "cycling"]}'

dict1 = json.loads(json1)
dict2 = json.loads(json2)

dict1.update(dict2)
print(dict1)

merged_json = json.dumps(dict1)

print(merged_json)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'hobbies': ['reading', 'cycling']}
{"name": "Alice", "age": 25, "city": "New York", "hobbies": ["reading", "cycling"]}